{% extends "@FRONT/base.html.twig" %}

{% block title %}MyPillsBox : Back : Les médicaments {% endblock %}

{% block content %}

<section class="section box is-small is-flex is-justify-content-center is-align-items-center">
        <h1 class="title has-text-centered">Back-Office : Page des médicaments  </h1>
    </section>

<section class="box section is-medium">
    <h1 class="title">La liste des médicaments : Total ({{ medics.getTotalItemCount }})</h1>
    <h2 class="subtitle">
        <button class="button is-success ">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-plus-square"></i>
                </span>  
                <a href="{{ path('back_office_medic_add')}}">
                    <span>AJOUTER un médicament</span>
                </a>
            </span>
        </button>
    </h2>

    <section class="section">
        {% for medic in medics %}

        <table class="table is-justify-content-center">
                        <thead> 
                            <tr class="subtitle is-4 has-text-justified">
                                <td>
                                    <h4 class="subtitle is-4 has-text-centered" >Nom du médicament</h4> 
                                </td>
                                <td>
                                    {{ medic.name | raw }}
                                    
                                    <button class="button is-medium is-infos is-italic has-text-weight-bold has-text-black has-text-centered">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <i class="far fa-eye"></i>
                                            </span>
                                            <a href="{{ path('back_office_medic_read', { id: medic.id })}}">
                                            <span>Regarder</span>
                                            </a>
                                        </span>
                                    </button>
                                    
                                    <button class="button is-medium is-warning is-light is-italic has-text-weight-bold has-text-black has-text-centered">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                            <a href="{{ path('back_office_medic_update', { id: medic.id })}}">
                                            <span>Editer</span>
                                            </a>
                                        </span>
                                    </button>
                                    <button type="submit" class="button is-medium is-light is-danger is-italic has-text-weight-bold has-text-black has-text-centered">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                            <a href="{{ path('back_office_medic_delete', { id: medic.id })}}">
                                                <span>Supprimer</span>
                                            </a>
                                            
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        </thead>

                        <tbody class="is-three-fifths">
                            <tr><th>Code CIS</th>                                           <td class="has-text-black"> {{ medic.codeCIS | raw }} </td></tr>
                            <tr><th>Code CPD</th>                                           <td class="has-text-black"> {{ medic.idCPD | raw }} </td></tr>
                            <tr><th>Nom du médicament</th>                                  <td class="has-text-black"> {{ medic.name | raw }} </td></tr>
                            <tr><th>Composition du médicament</th>                          <td class="has-text-black"> {% for allergens in medic.allergens %} {{ allergens.name | raw}} <a class="has-text-info" href="{{path('back_office_allergen_read', {id: allergens.id})}}">Regarder</a> <br> {% endfor %} </td></tr>
                            <tr><th>Type</th>                                               <td class="has-text-black"> {{ medic.medicType | raw }} </td></tr>
                            <tr><th>Indications thérapeutiques</th>                         <td class="has-text-black"> {{ medic.medicCondition | raw }} </td></tr>
                            <tr><tr><th>Posologie recommandée</th>                          <td class="has-text-black"> {{ medic.medicDosage | raw }} </td></tr>
                            <tr><tr><th>Autres situations cliniques</th>                    <td class="has-text-black"> {{ medic.medicExeption | raw }} </td></tr>
                            <tr><th>Mode d'administration</th>                              <td class="has-text-black"> {{ medic.medicMethodAdministration | raw }} </td></tr>
                            <tr><th>Contres-indications</th>                                <td class="has-text-black"> {{ medic.medicDanger | raw }} </td>    </tr>
                            <tr><th>Dose maximale recommandée</th>                          <td class="has-text-black"> {{ medic.medicDosageMax | raw }} </td></tr>
                            <tr><th>Interactions médicamenteuses</th>                       <td class="has-text-black"> {{ medic.medicInteractionOtherMedic | raw}} </td></tr>
                            <tr><th>Impact sur la fertilité, grossesse et allaitement</th>  <td class="has-text-black"> {{ medic.fertilyPregnancyBreastfeeding | raw }} </td></tr>
                            <tr><th>Effets indésirables</th>                                <td class="has-text-black"> {{ medic.medicAdverseReaction | raw }} </td></tr>
                        </tbody>
        </table>
        
        {% endfor %}
        {{ knp_pagination_render(medics)}}
    </section>
</section>
{% endblock %}