{% extends "@FRONT/base.html.twig" %}

{% block title %}Le médicament !{% endblock %}

{% block content %}

<section class="box section is-small">
        <h1 class="title">{{medicine.name | raw }}</h1>
        <h2 class="subtitle has-text-right">
            <button class="button is-success is-medium ">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-undo-alt"></i>
                    </span>
                    <a href="{{ path('back_office_medic_browse')}}">
                    <span>RETOUR</span>
                    </a>
                </span>
            </button>
            <button class="button is-medium is-warning is-light is-italic has-text-weight-bold has-text-black has-text-centered">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                    </span>
                    <a href="{{ path('back_office_medic_update', { id: medicine.id })}}">
                        <span>Editer</span>
                    </a>
                </span>
            </button>
        </h2>
        <h2 class="title">Molécule(s):</h2>
            {% for allergens in medicine.allergens %}
                <h3 class="subtitle">{{ allergens.name | raw }}
                <a class="subtitle has-text-info" href="{{path('back_office_allergen_read', {id: allergens.id})}}">Regarder</a><br>
                </h3>
                
            {% endfor %}
        
        
        <section class="box section is-small columns is-desktop p-1">
            <div class="card m-3 p-3 medic_infos column">
                    <h2 class="subtitle">
                        Indications thérapeutiques :
                    </h2>
                    <div class="content column">
                        {{ medicine.medicCondition | raw }}
                    </div>
            </div>
            <div class="card m-3 p-3 medic_infos column">
                    <h2 class="subtitle">
                        Posologie recommandée :
                    </h2>
                    <div class="content column">
                        {{ medicine.medicDosage | raw }}
                </div>
            </div>
            <div class="card m-3 p-3 medic_infos column">
                    <h2 class="subtitle">
                        Voies d'administration :
                    </h2>
                    <div class="content column">
                        {{ medicine.medicMethodAdministration | raw }}
                    </div>
            </div>
        </section>

        <h2 class="title">
            Vous devez faire attention :
        </h2>
        <section class="box section is-small columns is-desktop p-1">
            <div class="card m-3 p-3 medic_warning column">
                    <h2 class="subtitle">
                        Aux autres situations cliniques :
                    </h2>
                    <div class="content column">
                        {{ medicine.medicExeption | raw }}
                    </div>
            </div>
            <div class="card m-3 p-3 medic_warning column">
                    <h2 class="subtitle">
                        A la dose maximale recommandée :
                    </h2>
                    <div class="content column">
                        {{ medicine.medicDosageMax | raw }}
                </div>
            </div>
            <div class="card m-3 p-3 medic_warning column">
                    <h2 class="subtitle">
                        Aux intéractions médicamenteuses :
                    </h2>
                    <div class="content column">
                        {{ medicine.medicInteractionOtherMedic | raw }}
                    </div>
            </div>
        </section>

        <h2 class="title">
            Vous devez être vigilent.e :
        </h2>
        <section class="box section is-small columns is-desktop p-1">
            <div class="card m-3 p-3 medic_danger column">
                    <h2 class="subtitle">
                        Sur l'impact sur la fertilité, la grossesse et l'allaitement :
                    </h2>
                    <div class="content column">
                        {{ medicine.fertilyPregnancyBreastfeeding | raw }}
                    </div>
            </div>
        </section>
        <section class="box section is-small columns is-desktop p-1">
            <div class="card m-3 p-3 medic_danger column">
                    <h2 class="subtitle">
                        Sur les effets secondaires :
                    </h2>
                    <div class="content column">
                        {{ medicine.medicAdverseReaction | raw }}
                </div>
            </div>
        </section>
        <section class="box section is-small columns is-desktop p-1">
            <div class="card m-3 p-3 medic_danger column">
                    <h2 class="subtitle">
                        Sur les contre-indications :
                    </h2>
                    <div class="content column">
                        {{ medicine.medicDanger | raw }}
                    </div>
            </div>
        </section>
    </section>
{% endblock %}