{% extends "@FRONT/base.html.twig" %}

{% block title %}MypillsBox : Résultats de recherche{% endblock %}

{% block content %}
<section class="section box is-small is-flex is-justify-content-center is-align-items-center">
        <h1 class="title has-text-centered">Page de vos résultats de recherche :</h1>
        </section>
        
<section class="box section is-small">

    {% if app.request.method == 'POST' %}

        

        {% if medicines | length == 0 %}
        <h2 class="subtitle has-text-right">
            <button class="button is-success is-medium ">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-undo-alt"></i>
                    </span>
                    <a href="{{ path('medic_research')}}">
                    <span>RETOUR</span>
                    </a>
                </span>
            </button>
        </h2>
        <div class="card m-3 p-3 medic_infos columns is-desktop is-justify-content-center">
            <h4 class="subtitle is-4 has-text-centered column is-9">Votre médicament n'est pas encore enregistré.</h4>
        </div>


        {% endif %}
        {% for medicine in medicines %}
            <div class="card m-3 p-3 medic_infos columns is-desktop is-justify-content-center is-flex-wrap-wrap">
                <h4 class="subtitle has-text-centered column ">Nom du médicament : {{ medicine.name }}</h4>
                <h5 class="subtitle has-text-centered column ">Molécule du médicament : {{ medicine.medicCompo }}</h5>
                <button class="button is-medium is-infos is-italic has-text-weight-bold has-text-black has-text-centered">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="far fa-eye"></i>
                        </span>
                        <a href="{{ path('medic_read', { id: medicine.id })}}">
                        {# {{ medicine.id }} #}
                        <span>Regarder</span>
                        </a>
                        </span>
                </button>
            </div>
        {% endfor %}
</section>
{% endif %}
{% endblock %}