{% extends "@FRONT/base.html.twig" %}

{% block title %}MyPillsBox : Inscription{% endblock %}

{% block content %}

<section class="section box is-small is-flex is-justify-content-center is-align-items-center">
    <h1 class="title has-text-centered">Page d'inscription</h1>
</section>

<section class="box section is-small">
    <h2 class="subtitle">
        <button class="button is-success ">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-undo-alt"></i>
                </span>
                <a href="{{ path('home')}}">
                    <span>RETOUR</span>
                </a>
            </span>
        </button>
    </h2>
    <div class="card m-3 p-3">

        {{ form_start(formUser) }}

        <div class="field">
            <label class="label">Votre adresse mail</label>
            <div required class="control">
                {{ form_widget(formUser.email, {attr: {class: 'input', type: "number", placeholder: 'mon-adresse@mail.fr'}})
                }}
            </div>
            <p class="help is-infos">Votre adresse mail valide.</p>
            <p class="help is-infos">{{ form_errors(formUser.email) }}</p>

        </div>
        <div class="field">
            <label class="label">Votre mot de passe</label>
            <div required class="control"> {{ form_widget(formUser.password) }} </div>
            <p>{{ form_errors(formUser.password) }}</p>
            <p class="help is-infos">Votre mot de passe.</p>
            <p class="help is-infos">{{ form_errors(formUser.password) }}</p>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-success" type="submit">Ajouter</button>
            </div>
        </div>

        {{ form_end(formUser) }}

        <div class="control">
            <button class="button is-warning is-light">
                <a href="{{ path('home')}}">
                    <span>Cancel</span>
                </a>
            </button>
        </div>

    </div>
</section>
{% endblock %}