   <header class="header">
        <nav class="box navbar" role="navigation" aria-label="main navigation is-flex">
            <div class="navbar-brand is-align-items-center">
                <img class="mobile navbar-item is-medium" src="{{ asset('assets/pictures/visual_identity/MyPillsBox_nav.png')}}">
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span class="span-burger" aria-hidden="true"></span>
                    <span class="span-burger" aria-hidden="true"></span>
                    <span class="span-burger" aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="{{ path('home')}}" class="navbar-item">
                        Page d'accueil
                    </a>

                    <a class="navbar-item" href="{{ path('medic_research')}}">
                        Rechercher un médicament
                    </a>

                    <a href="{{ path('me')}}" class="navbar-item link_help" id="link_me">
                        Qui sommes-nous ?
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable dropdown">
                        <a class="navbar-item" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Un peu plus ?</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </a>

                        <div class="navbar-dropdown dropdown-content">
                            <a class="navbar-item dropdown-item" id="link_faq">
                                La Foire Aux Questions
                            </a>
                            <a class="navbar-item dropdown-item">
                                Les news !
                            </a>
                            <a href="{{ path('contact')}}" class="navbar-item dropdown-item">
                                Me contacter
                            </a>
                        </div>
                    </div>

                    {# IF ADMIN CONNECTED #}
                    {{ include('@LAYOUT/_back_subnav.html.twig')}}

                </div>

                

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons is-flex is-justify-content-center">
                            <div class="button is-primary">
                                <a href="#"><strong>M'inscrire</strong></a>
                            </div>
                            <div class="button is-primary">
                                <a href="#"><strong>Me connecter</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>